<html lang="en" style="width: 580px; padding: 0px; margin: 0px">
  <head>
    <meta charset="UTF-8"/>
  </head>
  <body
    style="width: 580px; padding: 0px; margin: 0px; background-color: white;"
  >
    <div
      style="
        text-rendering: optimizeLegibility;
        width: 580px;
        height: 100%;
        font-size: 21px;
        line-height: 1.5;
        padding: 2em;
        font-family: Helvetica, sans-serif, Symbola;
      ">
      INSERT_TEXT_HERE
    </div>
  </body>
</html>
